public/n8n-workflows/search-grants-firecrawl-v5-patched.json
{
  "name": "Profunda - Search Grants (Firecrawl) - PROD v5 (Expanded + Filtered)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search-grants",
        "options": {}
      },
      "id": "gr-webhook-0001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [6784, 48],
      "webhookId": "gr-webhook-id-0001"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "SUPABASE_FUNCTIONS_BASE_URL",
              "value": "https://lxahadqhpubynuzvraxc.supabase.co/functions/v1"
            }
          ]
        },
        "options": {}
      },
      "id": "gr-constants-0002",
      "name": "Workflow Constants",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [7024, 48],
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Read webhook body explicitly since Workflow Constants (keepOnlySet) wipes $json\nconst webhookData = $('Webhook Trigger').first().json;\nconst b = webhookData.body ?? webhookData;\nconst run_id = b.run_id || b.runId || b.runID;\nconst query = b.enforced_query || b.query || b.enforcedQuery;\nconst max_results = Number(b.max_results ?? b.maxResults ?? 20);\nif (!run_id || !query) {\n  return [{ json: { ok:false, error:{code:'MISSING_FIELDS', message:'run_id and enforced_query are required'}, run_id: run_id ?? null, query: query ?? null, max_results } }];\n}\nreturn [{ json: { ok:true, run_id, query, max_results: Math.max(1, Math.min(20, max_results)), scope: b.scope ?? null, metro: b.metro ?? null } }];"
      },
      "id": "gr-normalize-0003",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7264, 48]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "id": "gr-ifvalid-0004",
      "name": "IF Valid Input?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [7488, 48]
    },
    {
      "parameters": {
        "jsCode": "const ni = $('Normalize Input').first().json;\nconst baseQuery = ni.query;\nconst max = ni.max_results || 10;\nconst neg = ' -\"grant writing\" -\"grant writer\" -\"how to write a grant\" -\"grant template\" -\"grant course\" -udemy -coursera';\n\nconst queries = [\n  { query: baseQuery + neg, limit: max, variant: 'base' },\n  { query: baseQuery + ' RFP RFA \"request for proposals\" \"funding opportunity\" \"notice of funding\"' + neg, limit: Math.min(max, 10), variant: 'rfp' },\n  { query: baseQuery + ' foundation \"grant program\" \"grant opportunity\" digital equity broadband' + neg, limit: Math.min(max, 10), variant: 'foundation' }\n];\n\nreturn queries.map(q => ({ json: q }));"
      },
      "id": "gr-buildq-0005",
      "name": "Build Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7728, 48],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.query, limit: $json.limit }) }}",
        "options": {
          "response": {},
          "timeout": 60000
        }
      },
      "id": "gr-firecrawl-0006",
      "name": "Firecrawl Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [7968, 48],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GJkntTblj2tXySIz",
          "name": "Firecrawl Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ni = $('Normalize Input').first().json;\nconst run_id = ni.run_id;\nconst allItems = $input.all();\n\nlet allResults = [];\nfor (const item of allItems) {\n  const d = item.json;\n  const arr = d.data || d.results || (d.body && (d.body.data || d.body.results)) || [];\n  if (Array.isArray(arr)) allResults = allResults.concat(arr);\n}\n\n// URL blocklist patterns for grants\nconst blockedUrlPatterns = [\n  /udemy\\.com/i, /coursera\\.org/i, /skillshare\\.com/i,\n  /indeed\\.com/i, /glassdoor\\.com/i,\n  /\\/grant-writing-/i, /\\/how-to-write/i, /\\/grant-template/i,\n  /youtube\\.com\\/watch/i\n];\n\n// Content blocklist keywords for grants\nconst blockedContentKeywords = [\n  'grant writing course', 'learn grant writing', 'grant writing template',\n  'grant writing certification', 'grant writing workshop',\n  'grant writing tips', 'how to write a grant proposal',\n  'enroll now', 'sign up for course'\n];\n\nlet filtered_out = 0;\nconst seen = new Set();\nconst filtered = [];\n\nfor (const r of allResults) {\n  const url = (r.url || r.link || r.source_url || '').trim();\n  const title = (r.title || r.name || r.pageTitle || '').trim();\n  const snippet = (r.description || r.snippet || r.text || r.summary || '').trim();\n  const combined = (title + ' ' + snippet).toLowerCase();\n\n  if (url && blockedUrlPatterns.some(p => p.test(url))) { filtered_out++; continue; }\n  if (blockedContentKeywords.some(kw => combined.includes(kw))) { filtered_out++; continue; }\n\n  const canonical = url.toLowerCase().replace(/\\/$/, '').replace(/^https?:\\/\\/www\\./, 'https://');\n  if (canonical && seen.has(canonical)) { filtered_out++; continue; }\n  if (canonical) seen.add(canonical);\n\n  filtered.push({ title, url, snippet });\n  if (filtered.length >= 20) break;\n}\n\nreturn [{ json: { run_id, filtered_results: filtered, filtered_out_count: filtered_out, has_results: filtered.length > 0 } }];"
      },
      "id": "gr-prefilter-0007",
      "name": "Merge & Pre-Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [8208, 48],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_results }}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "id": "gr-ifresults-0008",
      "name": "IF Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [8448, 48]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Merge & Pre-Filter').first().json;\nconst run_id = prev.run_id;\nconst results = prev.filtered_results || [];\nconst query = $('Normalize Input').first().json.query;\n\nconst CAP = 12000;\nlet search_context = 'Query: ' + query + '\\n\\nResults:\\n';\nlet charCount = search_context.length;\n\nfor (let i = 0; i < results.length; i++) {\n  const r = results[i];\n  const entry = (i+1) + '. ' + (r.title ?? '') + '\\nURL: ' + (r.url ?? '') + '\\nSnippet: ' + (r.snippet ?? '');\n  if (charCount + entry.length + 2 > CAP) break;\n  search_context += entry + '\\n\\n';\n  charCount += entry.length + 2;\n}\n\nreturn [{ json: { run_id, query, search_context } }];"
      },
      "id": "gr-context-0009",
      "name": "Build Search Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [8688, 48],
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'You are a CLASSIFIER and EXTRACTOR. You do NOT search or use outside knowledge. You analyze ONLY the provided web page snippets and extract real grant opportunities, funding programs, RFPs, or RFAs relevant to digital equity, technology access, broadband, community development, or nonprofit capacity building.\\n\\nRules:\\n- ONLY extract actual funding opportunities with a funder or program name\\n- NEVER extract grant writing courses, templates, or educational content about grants\\n- Include deadline/date information if mentioned in the snippet\\n- Include funding amount if mentioned\\n- Include geographic focus/eligibility if mentioned\\n- If no qualifying grants can be extracted, return {\"grants\":[]}\\n- Return ONLY valid JSON. No markdown, no commentary.\\n\\nOutput schema:\\n{\"grants\":[{\"name\":string,\"funder\":string|null,\"description\":string|null,\"amount\":string|null,\"deadline\":string|null,\"geography\":string|null,\"eligibility\":string|null,\"url\":string|null,\"confidence\":number(0-1)|null}]}' }, { role: 'user', content: $('Build Search Context').first().json.search_context }] }) }}",
        "options": {
          "response": {},
          "timeout": 60000
        }
      },
      "id": "gr-llm-0010",
      "name": "LLM Extract Grants From Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [8928, 48],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "S65JWr5N3fYHb1YT",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "let txt = $json?.choices?.[0]?.message?.content ?? '';\ntxt = String(txt).trim();\nlet parsed;\ntry { parsed = JSON.parse(txt); } catch(e) {\n  const m = txt.match(/\\[[\\s\\S]*\\]/);\n  if (m) parsed = JSON.parse(m[0]); else parsed = [];\n}\nconst grants = Array.isArray(parsed) ? parsed : (parsed.grants || []);\nconst ni = $('Normalize Input').first().json;\nconst run_id = ni.run_id;\nconst max_results = Number(ni.max_results ?? 20);\nconst cleaned = grants.slice(0, max_results).map(g => ({\n  title: g.name ?? 'Unknown Grant',\n  description: [g.description, g.amount ? 'Amount: ' + g.amount : null, g.eligibility ? 'Eligibility: ' + g.eligibility : null].filter(Boolean).join(' | ') || null,\n  url: g.url ?? null,\n  source: 'firecrawl+llm',\n  location: g.geography ?? null,\n  date_info: g.deadline ?? null,\n  organization: g.funder ?? null,\n  contact_name: null,\n  contact_email: null,\n  contact_phone: null,\n  confidence: (typeof g.confidence === 'number') ? g.confidence : null,\n  raw_data: g\n}));\nreturn [{ json: { run_id, status: 'completed', results: cleaned } }];"
      },
      "id": "gr-envelope-0011",
      "name": "Build Callback Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [9168, 48],
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Constants').first().json.SUPABASE_FUNCTIONS_BASE_URL + \"/search-callback\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {},
          "timeout": 60000
        }
      },
      "id": "gr-callback-0012",
      "name": "Callback to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [9408, 48],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JZ0bvsdogmHU6USf",
          "name": "Secret Worker Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Constants').first().json.SUPABASE_FUNCTIONS_BASE_URL + \"/search-callback\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { run_id: $('Normalize Input').first().json.run_id, status: 'failed', error_message: String($json?.error?.message || 'Unknown error') } }}",
        "options": {
          "response": {},
          "timeout": 60000
        }
      },
      "id": "gr-errcallback-0013",
      "name": "Error Callback to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [7728, 340],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JZ0bvsdogmHU6USf",
          "name": "Secret Worker Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const run_id = $('Normalize Input').first().json.run_id;\nconst filtered_out = $('Merge & Pre-Filter').first().json.filtered_out_count || 0;\nreturn [{ json: { run_id, status: 'completed', results: [], meta: { filtered_out: true, filtered_out_count: filtered_out } } }];"
      },
      "id": "gr-empty-0014",
      "name": "Build Empty Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [8688, 340],
      "alwaysOutputData": true,
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Workflow Constants", "type": "main", "index": 0 }]]
    },
    "Workflow Constants": {
      "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]]
    },
    "Normalize Input": {
      "main": [[{ "node": "IF Valid Input?", "type": "main", "index": 0 }]]
    },
    "IF Valid Input?": {
      "main": [
        [{ "node": "Build Queries", "type": "main", "index": 0 }],
        [{ "node": "Error Callback to Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Build Queries": {
      "main": [[{ "node": "Firecrawl Search", "type": "main", "index": 0 }]]
    },
    "Firecrawl Search": {
      "main": [[{ "node": "Merge & Pre-Filter", "type": "main", "index": 0 }]]
    },
    "Merge & Pre-Filter": {
      "main": [[{ "node": "IF Has Results?", "type": "main", "index": 0 }]]
    },
    "IF Has Results?": {
      "main": [
        [{ "node": "Build Search Context", "type": "main", "index": 0 }],
        [{ "node": "Build Empty Envelope", "type": "main", "index": 0 }]
      ]
    },
    "Build Search Context": {
      "main": [[{ "node": "LLM Extract Grants From Results", "type": "main", "index": 0 }]]
    },
    "LLM Extract Grants From Results": {
      "main": [[{ "node": "Build Callback Envelope", "type": "main", "index": 0 }]]
    },
    "Build Callback Envelope": {
      "main": [[{ "node": "Callback to Supabase", "type": "main", "index": 0 }]]
    },
    "Build Empty Envelope": {
      "main": [[{ "node": "Callback to Supabase", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "v5-grants-patched",
  "meta": {
    "instanceId": "93beede2a90582294d7ef06720d87eff3641b0d88433511d1e55f0a191940c61"
  },
  "tags": []
}